<div class="modal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">User edit form</h3>
      </div>

      <div class="modal-body">
        <form name="frm">

          <div class="form-group has-feedback"
            ng-show="item.id == undefined"
            ng-class="{'has-error': frm.username.$invalid, 'has-success': frm.username.$valid}">
            <label class="control-label" for="username">User name</label>
            <input name="username" type="text" class="form-control"
              ng-model="item.username"
              ng-required="item.id == undefined" ng-minlength=5 ng-maxlength=18 data-unique="username"
              ng-pattern="/^[0-9a-zA-Z]*$/" placeholder="Username">
            <span class="glyphicon form-control-feedback"
              ng-class="{'glyphicon-ok': frm.username.$valid, 'glyphicon-remove': frm.username.$invalid}">
            </span>
            <div class="error-container" ng-show="frm.username.$invalid">
              <small class="text-danger" ng-show="frm.username.$error.required">Please input a user</small>
              <small class="text-danger" ng-show="frm.username.$error.pattern">Use only letters and numbers</small>
              <small class="text-danger" ng-show="frm.username.$error.minlength">Username must be at least 5 characters</small>
              <small class="text-danger" ng-show="frm.username.$error.maxlength">Username name cannot be longer than 20 characters</small>
              <small class="text-danger" ng-show="frm.username.$error.unique">Username already present</small>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-error': frm.name.$invalid, 'has-success': frm.name.$valid}">
            <label class="control-label" for="name">Name</label>
            <input name="name" type="text" class="form-control" ng-model="item.realname" ng-maxlength=32 required placeholder="Name">
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': frm.name.$valid, 'glyphicon-remove': frm.name.$invalid}"></span>
            <div class="error-container" ng-show="frm.name.$invalid">
              <small class="text-danger" ng-show="frm.name.$error.required">Please input full name</small>
              <small class="text-danger" ng-show="frm.name.$error.maxlength">Name cannot be longer than 32 characters</small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="email">Email</label>

            <input type="email" name="email" class="form-control" placeholder="Email"
              required data-ng-validator="email" ng-model="item.email">

            <div class="error-container" ng-show="frm.email.$invalid">
              <small class="text-danger" ng-show="frm.email.$error.required">
                REGISTER_EMAIL_REQ
              </small>
              <small class="text-danger" ng-show="frm.email.$error.email">
                REGISTER_EMAIL_INVALID
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="password">Password</label>

            <input type="password" name="passwd" class="form-control" placeholder="Password"
              ng-required="item.id == undefined" ng-model="item.password">

            <div class="error-container" ng-show="frm.passwd.$invalid">
              <small class="text-danger" ng-show="frm.passwd.$error.required">
                REGISTER_PWD_REQ
              </small>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label class="control-label">Primary group</label>
                <select class="form-control" ng-model="item.gid"
                  ng-options="g.id as g.name for g in groups"></select>
              </div>

            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label class="control-label">Other groups</label>

                <select multiple class="form-control" ng-model="item.groups"
                  ng-options="g.id as g.name for g in groups"></select>
              </div>

            </div>
          </div>


        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="frm.$invalid" ng-click="save();">OK</button>
        <button class="btn btn-default" ng-click="$hide();">Cancel</button>
      </div>
    </div>
  </div>
</div>
