
<p class="info" ng-hide="{{cfg.message}}" ng-model="cfg.message"></p>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <p>
      <button type="button" class="btn btn-info" ng-click="showModal();">
        <i class="glyphicon glyphicon-pushpin"></i> Add
      </button>

      <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
      <button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>
    </p>

    <table ng-table="tableParams" show-filter="true" class="table table-stripped">
      <tr ng-repeat="user in $data" ng-class="{active: host.res == true}">

        <td data-title="'Status'" sortable="'state'">
          <span class="glyphicon" ng-class="{'glyphicon-ok': user.state == 0, 'glyphicon-remove': user.state != 0}">
        </td>

        <td data-title="'Username'" sortable="'username'" filter="{ 'username': 'text' }">
          {{user.username}}
        </td>

        <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
          {{user.name}}
        </td>

        <td data-title="'Primary group'" sortable="'gid'">
          {{ user.gid }}
        </td>

        <td data-title="'Other groups'">
          {{ user.groups }}
        </td>

        <td>
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
              akce <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" data-ng-click="editForm(user);">disable</a></li>
              <li><a href="#" data-ng-click="disable(user);">disable</a></li>
              <li class="divider"></li>
              <li class="error">
                <a href="#" data-ng-click="remove(film);">
                  <i class="glyphicon glyphicon-remove"></i> REMOVE
                </a>
              </li>
            </ul>
          </div>
        </td>

      </tr>
    </table>

  </div>
</div>
