
<p class="info" ng-hide="{{cfg.message}}" ng-model="cfg.message"></p>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="pull-right">
      <button ng-click="tableParams.sorting({})" class="btn btn-default ">
        Clear sorting
      </button>
      <button ng-click="tableParams.filter({})" class="btn btn-default">
        Clear filter
      </button>
      <button type="button" class="btn btn-default" bs-dropdown="actionChoices">
        actions <span class="caret"></span>
      </button>
    </div>

    <button type="button" class="btn btn-info" ng-click="showModal();">
      <i class="glyphicon glyphicon-plus"></i> Add
    </button>

    <table ng-table="tableParams" show-filter="true" class="table table-stripped">
      <tr ng-repeat="user in $data" ng-class="{active: selected[user.id] == true}">

        <td>
          <input type="checkbox" ng-model="selected[user.id]" />
        </td>

        <td data-title="'ID'" sortable="'id'">
          {{user.id}}
        </td>

        <td data-title="'Username'" sortable="'username'" filter="{ 'username': 'text' }">
          {{user.username}}
        </td>

        <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
          {{user.name}}
        </td>

        <td data-title="'Primary group'" sortable="'gid'">
          {{ user.gid }}
        </td>

        <td data-title="'Other groups'">
          {{ user.groups }}
        </td>

        <td data-title="'State'" sortable="'state'">
          <span class="glyphicon" ng-class="{'glyphicon-ok': user.state == 0, 'glyphicon-remove': user.state != 0}">
        </td>

        <td>
          <button type="button" class="btn" data-ng-click="showModal(user);">
            <i class="glyphicon glyphicon-pencil"></i> edit
          </button>
        </td>

      </tr>
    </table>

  </div>
</div>
